/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Merriweather Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}
p, a, span {
  color: #1B1B1B;
}
a:hover {
  color: #9E515F;
  transition: color 300ms;
}
.wrapper {
  position: relative;
}
/* end of Global */

/* Page Banner */
.page-banner_home {
  background-image: url("../img/homepage/elyzagrace-paris.webp");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; 
}
.page-banner_coming-soon {
  height: 100vh;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.page-banner_main-heading {
  position: relative;
  z-index: 2;
  font-size: 56px;
}
.page-banner_sub-heading {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 576px) {
  .page-banner_main-heading br {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .page-banner_home {
    background-image: url("../img/homepage/elyzagrace-paris-mobile.webp");
    background-position: top center;
  }
  .page-banner_main-heading,
  .page-banner_sub-heading {
    text-align: center;
    color: #fff;
  }
}
/* end of Page Banner */

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.overlay_white {
  background-color: #fff;
  --animate-duration: 2s;
  z-index: 3;
}
.overlay_solid-pink {
  background-color: #964D5A;
  opacity: 0.35;
  z-index: 1;
}
@media only screen and (max-width: 575px) {
  .overlay_solid-pink {
    opacity: 0.6;
  }
}
/* end of Overlay */

.main-content {
  position: relative;
}

/* Navigation Bar */
.main-header .eg-navbar {
  transition: padding 300ms;
}
.main-header.scrolled .eg-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: padding 300ms;
}
.nav-link,
.eg-navbar-logo {
  font-family: 'Merriweather', serif;
}
.eg-navbar-logo:hover {
  color: #E1BBA1;
}
.main-header .nav-link,
.eg-navbar-logo {
  color: #fff;
}
.main-header .nav-link:hover {
  color: #E1BBA1;
}
.eg-navbar {
  padding: 30px 50px;
}
.eg-navbar-logo {
  text-decoration: none;
  font-weight: 500;
  font-size: 23px;
}
.nav-link.active {
  color: #E1BBA1;
}
.dropdown-item {
  color: #9E515F;
}
@media only screen and (min-width: 768px) {
  .eg-navbar-logo {
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translate(-50%, -50%);
  }
  .main-header {
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  .navbar-nav > .nav-item > .nav-link {
    margin-right: 20px;
  }
  .navbar-nav > .nav-item > .nav-link:last-child {
    margin-right: 0;
  }
  .nav-item_say-hi {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  .say-hi.dropdown-menu {
    right: 0;
    left: auto;
  }
}
@media only screen and (max-width: 767px) {
  .eg-navbar {
    padding: 10px 30px;
  }
  #sayHiDropdown,
  .main-header {
    background-color: #7F7B77;
  }
  .main-header .fa-bars {
    color: #fff;
  }
  #sayHiDropdown {
    border: 0;
  }
  #sayHiDropdown .dropdown-item {
    color: #fff;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
/* end of Navigation Bar */

/* Homepage Banner */
.homepage-banner {
  background-image: url("../img/homepage/elyza-grace-homepage-banner-geneva.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage-banner {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.homepage-banner p {
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .homepage-banner {
    height: 750px;
  }
}
@media only screen and (max-width: 991px) {
  .homepage-banner {
    height: 500px;
  }
}
/* end of Homepage Banner */

/* Home Page */
.main-title {
  font-size: 64px;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 575px) {
  .main-title {
    font-size: 36px;
  }
}
/* end of Home Page */

/* TLD section */
.tld-col {
  border-radius: 10%;
}
.tld-content {
  height: 275px;
  background-color: #E1BBA1;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  padding: 25px 50px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: stretch;
  box-shadow: 0px 5px 5px 2px rgba(179,171,171,0.64);
  -webkit-box-shadow: 0px 5px 5px 2px rgba(179,171,171,0.64);
  -moz-box-shadow: 0px 5px 5px 2px rgba(179,171,171,0.64);
}
.tld-col .tld-content a {
  text-decoration: none;
}
.tld-col .tld-content h3 {
  background-color: #B25F75;
  padding: 10px 30px;
  color: #fff;
  border-radius: 10px;
  transition: padding 350ms;
}
.tld-col:hover .tld-content h3 {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #D8B1A2;
  color: #B25F75;
  transition: background-color 350ms;
  transition: padding 350ms;
}
.tld-content h3 {
  text-align: center;
}
.travel-column .tld-content {
  background-image:  url('../img/homepage/elyza-grace-homepage-travel-bg.webp');
}
.lifestyle-column .tld-content {
  background-image:  url('../img/homepage/elyza-grace-homepage-lifestyle-bg.webp');
}
.diplomacy-column .tld-content {
  background-image:  url('../img/homepage/elyza-grace-homepage-diplomacy-bg.webp');
}
@media only screen and (min-width: 992px) {
  .tld-section {
    margin-top: -150px;
  }
}
@media only screen and (max-width: 991px) {
  .tld-section {
    padding-top: 0;
  }
  .tld-section .tld-col {
    padding: 0;
  }
  .tld-content {
    border-radius: 0;
  }
  .tld-col.travel-column {
    background-position: right;
  }
}
@media only screen and (max-width: 767px) {
  .travel-column .tld-content {
    background-position: bottom;
  }
  .lifestyle-column .tld-content {
    background-position: center;
  }
}
/* end of TLD section */

/* About Me Section */
.about-me-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-me-content-container {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.self-image img {
  position: relative;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .self-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;
  }
}
@media only screen and (max-width: 767px) {
  .self-image {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .self-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
  }
  .about-me-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* end of About Me Section */

/* Featured Articles */
.featured-articles {
  /* padding-top: 100px; */
  padding-bottom: 100px;
}
.featured-articles h2 {
  text-align: center;
}
/* end of Featured Articles */

/* Footer */
#main-footer {
  background-color: #1E1C1C;
  padding-top: 100px;
  padding-bottom: 100px;
}
.main-footer-content {
  border-bottom: 1px solid #5c5757;
}
#main-footer h3 {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}
#main-footer .subtxt {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.footer-ul {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  margin-bottom: 50px;
}
.footer-li {
  margin-right: 20px;
}
.footer-li a {
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: #fff;
}
.footer-li a:hover {
  color: #9E515F;
  transition: color 300ms;
}
@media only screen and (min-width: 1200px) {
  .main-footer-content {
    margin-right: 200px;
    margin-left: 200px;
  }
}
@media only screen and (max-width: 767px) {
  /* .footer-ul {
    flex-direction: column;
  }
  .footer-li {
    margin-bottom: 10px;
  } */
}
/* end of Footer */

/* Back To Top */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #B25F75;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.back-to-top {
  color: #fff;
  font-size: 36px;
}
/* end of Back To Top */

